#event-dialog
  .dialog-content
    = form_with(model: @event, local: true) do |form|
      .field
        = form.label :title
        = form.text_field :title, placeholder: "タイトルを追加", autofocus: true
      .field
        = form.label :body
        = form.text_field :body
      .field
        = form.label :start_date
        = form.datetime_select :start_date
      .field
        = form.label :end_date
        = form.datetime_select :end_date
      .actions
        = form.submit
  %a#dialog-close.button-link
    閉じる
